*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.father{
    overflow: hidden;
    position: relative;
}

.image{
    content: "";
    z-index: -1;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.time{
    flex-direction: column;
    align-items: center;
    color:#ffffff;
    font-size: 5.5vw;
    left:27%;
    top:31.5%;
    z-index:1 ;
    position:absolute;
}

.container{
    flex-direction: column;
    color: rgb(130,130,130);
    font-size: 3.9vw;
    left:21%;
    top:37%;
    line-height: 241%;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.voucher{
    flex-direction: column;
    color:#ffffff ;
    z-index: 4;
    position: fixed;
    left:12%;
    top: 4.2%;
    font-size: 4.6vw;
}

.mypic{
    position: absolute;
    z-index: 2;
    left:62.5%;
    top: 45.6%;
    width: 22%;
    padding-bottom: 22%;
}

.mypic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.passpord{
    position: fixed;
    z-index: 3;
    left:6.1%;
    top: 5%;
    width:2.5%;
    padding-bottom: 2.5%;
}

.passpord img{
    position: absolute;
    top:0%;
    left:0;
    width:100%
}

.button{
    position: fixed;
    z-index: 5;
    left: 75%;
    top:4%;
    width: 23%;
    padding-bottom: 23%;
}

.button img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.mytext{
    display: flex;
    position: absolute;
    z-index: 3;
    top: 22.8%;
    left: 50%;  
    transform: translateX(-50%);
    color:rgb(0,162,65) ;
    font-size: 9vw;
}